body {
    background: #2c2c2c;
}

aside {
    float: left;
    background: #181818;
    width: 30%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 100%;
    float: left;
}

aside .logo {
    font-size: 180%;
    margin-left: 10%;
    font-weight: bold;
    position: relative;
    top: 18px;
}

aside h3 {
    margin-top: 50px;
    font-size: 170%;
}

aside .logo {
    font-size: 200%;
    position: relative;
    left: -10%;
}

aside ul {list-style: none}
aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    float: left;
    color: #fff;
    margin-top: 2%;
    text-align: center;
    width: 70%;
}

main .features h1, {
    font-size: 50%;
    position: relative;
    right: -2%;
}
main .features p {max-width: 75%; margin: 5% auto;}

.alert-warning {
    float: center;
    clear: both;
    width: 60%;
    margin: 5% 20%;
    text-align: left;
}


form {
    margin-left: 32%;
    width: 500px;
    margin-top: 20px;
}

#news-text {
    color: #fff;
    max-width: 75%;
    margin: 1% auto;
    margin-top: 5%;
    text-align: center;
    width: 100%;
}

